{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <title>TenFilm - Онлайн кинотеарт</title>
</head>
<body>
  <div class="container">
    <div class="movies">
    {% for post in movies %}
      <div class="movie">
        <div class="movie__cover-inner">
          <img src="{{ post.image.url }}" alt="">
          <div class="movie__cover--darkened"></div>
        </div>
        <div class="movie__info">
          <div class="movie__title">{{ post.title }}</div>
          <div class="movie__category">{{ post.category }}</div>
          <div class="movie__average movie__average--green">{{ post.rate }}</div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>

</body>
</html>